    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand text-white" href="index.html">Abubakar R. Tidal, Jr.</a>

        <!-- Icons -->
        <ul class="navbar-nav d-flex flex-row me-1">
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link text-white" href="cv.html"><i class="fas fa-envelope mx-1"></i> Curriculm Vitae</a>
            </li>
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link text-white" href="https://openlab.citytech.cuny.edu/juniortidal/" target="_blank"> <i class="fas fa-user mx-1"></i> Teaching Portfolio </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link text-white" href="contact.html"><i class="fas fa-envelope mx-1"></i> Contact</a>
            </li>
        </ul>
    </div>

    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
