.cover-container {
  margin-top: 100px;
  max-width: 40em;
}

.navbar ul li a, .navbar-brand, .nav-link{
  text-decoration: underline;
}

li {
  margin-bottom: 1em; /* Adds space between list items */
  max-width: 80ch;
  line-height: 1.6;   /* Improve readability */
}
